<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="" th:href="@{/css/bootstrap.css}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigationBar">
    <a class="navbar-brand" href="#">DR's</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drs">Manage Drs</a>
            </li>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="addUser()" type="submit">Add New User</button>
        </form>
        -->
    </div>
</nav>
</body>
</html>